/* RESET CSS */
body {
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}


/* COMPONENT */
.select-field {
  user-select: none;
}

.select-field__display {
  position: relative;
  padding: 0 4px;
  height: 40px;
  border-bottom: 1px solid #383838;
  outline: none;
  cursor: pointer;
}

.select-field__display-label {

}

.select-field__display-placeholder {
  position: absolute;
  left: 0;
  right: 0;
  transition:
    bottom .1s ease,
    font-size .1s ease;
}

.select-field__display-caret,
.select-field__display-clear {
  position: absolute;
  right: 0;
}

.select-field__display-caret {
  bottom: 0;
}

.select-field__display-clear {
  bottom: 4px;
}

.select-field__display-clear:hover {
  background: #ddd;
  border-radius: 50%;
}

.select-field__display,
.select-field__display-placeholder {
  padding: 0;
}

.select-field__display-label,
.select-field__display-placeholder {
  position: absolute;
  bottom: 4px;
  width: calc(100% - 24px);
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-field__display-input {
  height: 100%;
  display: none;
}

.select-field__display-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}

.select-field__options {
  display: none;
  margin-top: 4px;
  border-radius: 3px;
  box-shadow:
    0 1.5px 4px rgba(0, 0, 0, 0.24),
    0 1.5px 6px rgba(0, 0, 0, 0.12);
}

.select-field__option {
  padding: 8px;
  cursor: pointer;
}

.select-field__option.is-selected {
  background-color: #ddd;
}

.select-field__option:hover {
  background-color: #d7d7d7;
}


/* STATES - OPEN */
.select-field.is-opened {}

.select-field.is-opened .select-field__options {
  display: block;
}


/* STATES - SELECTED */
.select-field.is-selected {}

.select-field.is-selected .select-field__display-placeholder {
  bottom: 24px;
  font-size: 12px;
  width: 100%;
}
